<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>web-nes</title>
        <script type="text/javascript" src="https://unpkg.com/jsnes/dist/jsnes.min.js"></script>
        <style>
            canvas {
                zoom: 300%;
                -moz-transform: scale(3);
            }

            * {
                margin: 0;
                padding: 0;
            }

            #content {
                margin: 0 auto;
                width: 768px;
                text-align: center;
            }

            #message {
                font-family: sans-serif;
                padding: 30px;
                font-weight: 500;
            }

            #keys {
                font-size: 14px;
                font-family: sans-serif;
                padding-bottom: 15px;
            }

            #games-list {
                padding-bottom: 15px;
            }
        </style>
    </head>
    <body>
    <p id="fps"></p>
        <div id="content">
            <h1 id="message"> </h1>
            <p id="games-list">
                <select id="current-game" disabled>
                    <option value="" disabled="disabled" selected="selected">Please select a game</option>
                </select>
            </p>
            <p id="keys">W = 上, S = 下, A = 左, D = 右, V = 选择, B = 开始, J = 跳, K = 开枪</p>
            <div id="emulator">
                <canvas id="canvas" width="256" height="240" style="border: 1px"></canvas>
            </div>
        </div>
        <script>

            (function () {

                // 游戏屏幕宽
                let screenWidth = 256;

                // 游戏屏幕高
                let screenHeight = 240;

                // 游戏缓冲区大小
                let frameBufferSize = screenWidth * screenHeight;

                // 音频参数
                let audioBufferSize = 512;
                let sampleCount = 4 * 1024;
                let sampleMask = sampleCount - 1;
                let audioSamplesLeft = new Float32Array(sampleCount);
                let audioSamplesRight = new Float32Array(sampleCount);

                // 音频数据写入大小
                let audioWriteCursor = 0;

                // 音频数据读取大小
                let audioReadCursor = 0;

                // nes游戏渲染id
                let nesAnimationId;

                // 游戏数据渲染动画id
                let dataAnimationId;

                // 游戏数据队列
                let dataQueue = [];

                // 创建绘图环境
                let canvas = document.getElementById('canvas');
                let canvasCtx = canvas.getContext('2d');

                // 复制画布上的像素信息
                let image = canvasCtx.getImageData(0, 0, screenWidth, screenHeight);

                // 画布填充颜色
                canvasCtx.fillStyle = 'black';

                // 画布填充区域
                canvasCtx.fillRect(0, 0, screenWidth, screenHeight);

                // 分配运行缓冲区空间
                let buffer = new ArrayBuffer(image.data.length);
                let frameBufferUint8 = new Uint8ClampedArray(buffer);
                let frameBufferUint32 = new Uint32Array(buffer);

                // 处理音频
                let audioCtx = ctx = new(window.AudioContext || window.webkitAudioContext);
                let scriptProcessor = audioCtx.createScriptProcessor(audioBufferSize, 0, 2);
                scriptProcessor.onaudioprocess = function (ev) {

                    let dst = ev.outputBuffer;
                    let len = dst.length;

                    // Attempt to avoid buffer underruns.
                    if((audioWriteCursor - audioReadCursor) & sampleMask < audioBufferSize) {
                        nes.frame();
                    }

                    let dstLeft = dst.getChannelData(0);
                    let dstRight = dst.getChannelData(1);
                    for(let i = 0; i < len; i++){
                        let srcIndex = (audioReadCursor + i) & sampleMask;
                        dstLeft[i] = audioSamplesLeft[srcIndex];
                        dstRight[i] = audioSamplesRight[srcIndex];
                    }

                    audioReadCursor = (audioReadCursor + len) & sampleMask;
                };
                scriptProcessor.connect(audioCtx.destination);

                // 实例NES模拟器
                let nes = new jsnes.NES({
                    onFrame: function (frameBuffer24) {
                        for (let i = 0; i < frameBufferSize; i++) {
                            frameBufferUint32[i] = 0xFF000000 | frameBuffer24[i];
                        }
                    },
                    onAudioSample: function (left, right) {
                        audioSamplesLeft[audioWriteCursor] = left;
                        audioSamplesRight[audioWriteCursor] = right;
                        audioWriteCursor = (audioWriteCursor + 1) & sampleMask;
                    },
                });
                nes.opts.preferredFrameRate = 30;
                nes.frameTime = 1000 / 30;

                // 启动nes模拟器
                function nesBoot(rom) {

                    // 停止nes动画渲染
                    window.cancelAnimationFrame(nesAnimationId);

                    // 停止游戏数据渲染
                    window.cancelAnimationFrame(dataAnimationId);

                    // 加载游戏
                    nes.loadROM(rom);

                    // 告诉浏览器希望执行一个动画
                    // 要求浏览器在下次重绘之前调用指定的回调函数更新动画
                    nesAnimationId = window.requestAnimationFrame(onAnimationFrame);
                }

                // 浏览器执行更新动画回调函数
                function onAnimationFrame() {
                    nesAnimationId = window.requestAnimationFrame(onAnimationFrame);

                    image.data.set(frameBufferUint8);
                    canvasCtx.putImageData(image, 0, 0);
                    ws.send("data " + canvas.toDataURL());
                    nes.frame();
                }

                // 键盘映射
                function keyboard(callback, keyCode, player) {

                    switch (keyCode) {

                        // Up
                        case 87:
                            callback(player, jsnes.Controller.BUTTON_UP);
                            break;

                        // Down
                        case 83:
                            callback(player, jsnes.Controller.BUTTON_DOWN);
                            break;

                        // Left
                        case 65:
                            callback(player, jsnes.Controller.BUTTON_LEFT);
                            break;

                        // Right
                        case 68:
                            callback(player, jsnes.Controller.BUTTON_RIGHT);
                            break;

                        // 'a' - qwerty, dvorak
                        // case 65:

                        // 'q' - azerty
                        case 75:
                            callback(player, jsnes.Controller.BUTTON_A);
                            break;

                        // 's' - qwerty, azerty
                        // case 83:

                        // 'o' - dvorak
                        case 74:
                            callback(player, jsnes.Controller.BUTTON_B);
                            break;

                        // Tab
                        case 86:
                            callback(player, jsnes.Controller.BUTTON_SELECT);
                            break;

                        // Return
                        case 66:
                            callback(player, jsnes.Controller.BUTTON_START);
                            break;

                        default:
                            break;
                    }
                }

                // 按键列表
                let keyCodeArray = [
                    87, 83, 65, 68, 75, 74, 86, 66
                ];

                // 键盘按下事件
                document.addEventListener('keydown', function (evt) {

                    let keyCode = evt.keyCode;

                    if (window.player === 1) {
                        keyboard(nes.buttonDown, keyCode, window.player)
                    }

                    // 玩家2发送数据给玩家1
                    if (window.player === 2 && keyCodeArray.indexOf(keyCode) > -1) {
                        evt.preventDefault();
                        ws.send("down "+keyCode);
                    }

                });

                // 键盘抬起事件
                document.addEventListener('keyup', function (evt) {

                    let keyCode = evt.keyCode;

                    // 玩家1触发操作
                    if (window.player === 1) {
                        keyboard(nes.buttonUp, keyCode, window.player)
                    }

                    // 玩家2发送数据给玩家1
                    if (window.player === 2 && keyCodeArray.indexOf(keyCode) > -1) {
                        evt.preventDefault();
                        ws.send("up "+keyCode);
                    }

                });

                // 连接服务器
                let ws = new WebSocket("ws://" + window.location.host + "/ws");

                // 接收消息
                ws.onmessage = function (msg) {

                    // 分解命令和消息
                    let parts = msg.data.split(" ");
                    let cmd = parts[0];
                    let data = parts[1];

                    switch (cmd) {

                        // 加入游戏
                        case 'join':
                            window.player = parseInt(data, 10);
                            if (window.player === 1) {
                                document.getElementById('message').innerText = '请等待玩家2';
                            }
                            if (window.player === 2) {
                                document.getElementById('message').innerText = '请等待玩家1开始游戏';
                            }
                            break;

                        // 开始游戏
                        case 'start':

                            // 修改提示数据
                            document.getElementById('message').innerText = '请选择游戏';

                            // 加载游戏数据
                            loadGameList();

                            break;

                        // 键盘按下事件
                        case 'down':
                            keyboard(nes.buttonDown, parseInt(data, 10), 2);
                            break;

                        // 键盘抬起事件
                        case 'up':
                            keyboard(nes.buttonUp, parseInt(data, 10), 2);
                            break;

                        // 游戏画面数据
                        case 'data':

                            // 队列最多储存10条游戏数据超过则抛弃
                            // 防止浏览器休眠重新唤醒后渲染的游戏数据过多
                            if (dataQueue.length >= 10) {
                                dataQueue.shift()
                            }

                            // 队尾压入游戏数据
                            dataQueue[dataQueue.length] = {
                                data: data,
                                time: (new Date()).getTime()
                            };
                            break;
                    }
                };

                // 默认设置游戏渲染动画回调
                dataAnimationId = window.requestAnimationFrame(DataAnimationFrame);

                // 游戏数据渲染动画回调
                function DataAnimationFrame() {

                    while (true) {

                        // 队列为空退出循环
                        let data = dataQueue.shift();
                        if (data === undefined) {
                            break;
                        }

                        // 抛弃延迟大于3帧的数据
                        // (1000 / 60)为60帧每帧的刷新时间
                        let now = (new Date()).getTime();
                        if (now - data.time > (1000 / 60) * 3) {
                            continue;
                        }

                        // 渲染游戏数据
                        let image = new Image();

                        // 渲染游戏数据成功后再渲染下一帧数据
                        // 防止下一帧数据渲染时
                        // 当前帧数渲染还未完成
                        // 因此造成游戏卡顿
                        image.onload = function () {
                            canvasCtx.drawImage(image ,0 ,0);
                            dataAnimationId = window.requestAnimationFrame(DataAnimationFrame);
                        };
                        image.src = data.data;
                        return;
                    }

                    // 设置下一帧的回调函数
                    dataAnimationId = window.requestAnimationFrame(DataAnimationFrame);
                }

                // 加载游戏列表
                function loadGameList () {

                    let request = new XMLHttpRequest();
                    request.open('GET', '/list');
                    request.overrideMimeType('text/plain; charset=x-user-defined');
                    request.onerror = function () {
                        alert('http request error!');
                    };
                    request.onload = function () {
                        if (this.status === 200) {

                            let data = JSON.parse(this.responseText);
                            let options = '<option value="" disabled="disabled" selected="selected">Please select a game</option>';
                            for (let i = 0; i < data.length; i++) {
                                options += '<option value="'+data[i]+'">'+data[i]+'</option>';
                            }
                            let gameList = document.getElementById('current-game');
                            gameList.innerHTML = options;
                            gameList.disabled = false;

                        } else {
                            this.onerror();
                        }
                    };
                    request.send();
                };

                // 创建游戏
                document.getElementById("current-game").addEventListener('change', function () {

                    let game = document.getElementById("current-game").value;
                    let request = new XMLHttpRequest();
                    request.open('GET', '/roms/' + game);
                    request.overrideMimeType('text/plain; charset=x-user-defined');
                    request.onerror = function () {
                        alert('http request error!');
                    };
                    request.onload = function () {
                        if (this.status === 200) {
                            nesBoot(this.responseText);
                        } else {
                            this.onerror();
                        }
                    };
                    request.send();
                });
            })();

        </script>
    </body>
</html>